@model Product




@section Heading {
Admin
}
@section Title {
Edit
}
<form method="post" action="/admin/products/Edit" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div>
            <label for="exampleInputEmail1">Name</label>
            <input name="Name" value="@Model.Name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Name...">

        </div>
        <div>
            <label for="exampleInputEmail1">Description</label>
            <textarea name="Description" class="form-control" id="exampleInputEmail1" placeholder="Description...">@Model.Description</textarea>

        </div>
        <div>
            <label for="exampleInputEmail1">Price</label>
            <input name="Price" value="@Model.Price" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Price...">



        </div>
        <div>
            <label for="exampleInputEmail1">Quantity</label>
            <input name="Quantity"value="@Model.Quantity" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Quantity...">



        </div>

        
        <div class="form-group">
          
            <label for="exampleInputEmail1">Image</label>
            <img src="/images/@Model.Image" width="200" />
            <input name="Image" type="file" class="form-control" id="exampleInputEmail1" />



        </div>
        <div>


            <label for="exampleInputEmail1">CategoryName</label>

            <select class="form-control" name="CategoryId">
                @foreach (var item in ViewBag.categories)
                {
                    if (Model.CategoryId == item.Id)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                    else{
                    <option value="@item.Id">@item.Name</option>
                    }

                    
                }
            </select>

        </div>



        <div class="card-footer mt-4">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>

